<section class="p-5 page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
        </div>
        <div class="row" >
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>AGUSTIN BOSCH</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/AgustinBosch"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/2.jpg" alt="..." />
                    <h4>NARELA CESCA</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/narellacesca"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div >
                    <img class="rounded-circle img-fluid"  style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>EMILIANO CRAVIOTTO</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/EmilianoAndres"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3" >Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>LUIS NIETO</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/lnieto07"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3" >Ver Perfil</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>NICOLAS LOWTHER</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/Niclow12"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>SEBASTIAN SEGOVIA</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/SebaSego"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>PATRICIO OLIVA</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET </p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/PachuOliva"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3" >Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>RODRIGO VELAZQUEZ LEIVA</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/mrc2709"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3" >Ver Perfil</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>NICANOR MOYANO FUNES</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/Nicamoyanof"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>MAXIMILIANO CHIRINO</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/maxchirino"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3">Ver Perfil</a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div >
                    <img class="rounded-circle img-fluid" style="width:200px;" src="assets/img/team/1.jpg" alt="..." />
                    <h4>NAHUEL FREDES</h4>
                    <p class="text-muted">Desarrolladora Full Stack .NET</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/NahuelFredes"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark"  routerLink="/quienes-somos/3" >Ver Perfil</a>
                </div>
            </div>
        </div>
    </div>
</section>