<div class="list" *ngIf="typeMov=='transactions'; else Depositos">
  <ng-container *ngFor="let t of list | slice : 0 : 5; index as i">
    <p>
      <span class="fw-semibold" *ngIf="i < 5">{{ name }}</span> pago $
      {{ t[0] }} a {{ t[1] }}, {{ t[2] }} en la fecha {{ t[3] }}
    </p>
  </ng-container>
</div>
<ng-template #Depositos>
  <div class="list">
    <ng-container *ngFor="let t of transactions | slice : 0 : 5; index as i">
      <p>
        <span class="fw-semibold" *ngIf="i < 5">{{ name }}</span> se han transferido ${{ t.amount }} a su cuenta, en la fecha de {{ t.createdOn.toString().replace(",", " a la hora ") }}
      </p>
    </ng-container>
  </div>
</ng-template>
