<p>transactions works!</p>

<body>
  <div class="wallet-container text-center">
    <p>Mi billetera</p>

    <div class="amount-box text-center">
      <img src="../../../assets/wallet.png" alt="wallet" />
      <p>Balance</p>
      <p class="amount">$123</p>
    </div>

    <div class="btn-group text-center">
      <button type="button" class="btn btn-outline-dark">Agregar dinero</button>
      <button type="button" class="btn btn-outline-dark">Retirar dinero</button>
    </div>

    <div class="txn-history">
      <p class="text-center"><b>Historial</b></p>
      <p class="txn-list">
        Retiro de [cantidad]<span class="retiro">-$10000</span>
      </p>

      <p class="txn-list">
        Depósito de [cantidad]<span class="deposito">+$15000</span>
      </p>

      <p class="txn-list">
        Retiro de [cantidad]<span class="retiro">-$3000</span>
      </p>

      <p class="txn-list">
        Depósito de [cantidad]<span class="deposito">+$10000</span>
      </p>
    </div>
  </div>
</body>
