<div class="container-fluid text-center" style="color: #3c3c3b">
  <div class="row">
    <div class="col-lg col-md-6">
      <p class="fw-bold text-decoration-underline">Depositos</p>
      <app-transaction-list
        [transactions]="client!.deposits"
      ></app-transaction-list>
    </div>
    <div
      class="col-lg-3 col-md-6"
      style="border-radius: 25px; background-color: #c1c1c1; padding-top: 20px"
    >
      <p>Mi billetera</p>
      <div class="amount-box text-center">
        <img src="../../../assets/wallet.png" alt="wallet" />
        <p>Balance</p>
        <p class="amount">{{ client.saldo | currency }}</p>
      </div>

      <div class="btn-group text-center">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-toggle="modal"
          data-bs-target="#addAmountModal"
        >
          Agregar dinero
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-toggle="modal"
          data-bs-target="#transferBalanceModal"
        >
          Enviar dinero
        </button>
      </div>
    </div>
    <div class="col-lg col-md-6">
      <p class="fw-bold text-decoration-underline">Transferencias</p>
      <app-transaction-list
        [transactions]="client!.transfers"
      ></app-transaction-list>
    </div>
  </div>
</div>
<app-add-balance-modal
  [modalId]="'addAmountModal'"
  (amountSend)="addAmount($event)"
></app-add-balance-modal>
<app-transfer-balance-modal
  [balance]="client.saldo"
  [modalId]="'transferBalanceModal'"
  (transferSend)="transfer($event)"
></app-transfer-balance-modal>
