<div class="container-fluid text-center main-home" style="color: #3c3c3b">
  <div class="row">
    <div class="col-lg col-md-6">
      <p class="fw-bold text-decoration-underline">Depositos y Retiros</p>
      <div class="col-md-6 mb-4" style="display: inline-block">
        <button
          type="button"
          (click)="depositosFunction()"
          class="btn btn-outline-dark me-3"
        >
          Depositos
        </button>
        <button
          type="button"
          (click)="retirosFunction()"
          class="btn btn-outline-dark"
        >
          Retiros
        </button>
      </div>
      <ng-template [ngIf]="depositosShow" [ngIfElse]="Other">
        <app-deposits
          [list]="listaDepositos"
          [depositosShow]="true"
        ></app-deposits>
      </ng-template>
      <ng-template #Other>
        <app-deposits
          [list]="listaRetiros"
          [depositosShow]="false"
        ></app-deposits>
      </ng-template>
    </div>
    <div
      class="col-lg-3 col-md-6 container-monto-disponible"
      style="border-radius: 25px; background-color: #c1c1c1; padding-top: 20px"
    >
      <p>Mi billetera</p>
      <div class="amount-box text-center">
        <img src="../../../assets/wallet.png" alt="wallet" />
        <p>Balance</p>
        <p class="amount">{{ client.saldo | currency }}</p>
      </div>

      <div class="btn-group text-center">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-toggle="modal"
          data-bs-target="#addAmountModal"
        >
          Agregar o Retirar dinero
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-toggle="modal"
          data-bs-target="#transferBalanceModal"
        >
          Transferir
        </button>
      </div>
    </div>
    <div class="col-lg col-md-6">
      <p class="fw-bold text-decoration-underline">Transferencias</p>
      <div class="col-md-6 mb-4" style="display: inline-block">
        <button
          type="button"
          (click)="pagosFunction()"
          class="btn btn-outline-dark me-3"
        >
          Pagos
        </button>
        <button
          type="button"
          (click)="cobrosFunction()"
          class="btn btn-outline-dark mr-1"
        >
          Cobros
        </button>
      </div>
      <div style="display: flex; height: 100%">
        <ng-template [ngIf]="pagosShow" [ngIfElse]="cobrosShow">
          <app-transaction-list
            [list]="listaPagos"
            [pagosShow]="pagosShow"
          ></app-transaction-list>
        </ng-template>
        <ng-template #cobrosShow>
          <app-transaction-list
            [list]="listaCobros"
            [pagosShow]="false"
          ></app-transaction-list>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<app-add-balance-modal
  class="modal-billetera"
  [modalId]="'addAmountModal'"
  (amountSend)="addAmount($event)"
  [saldo]="client.saldo"
></app-add-balance-modal>
<app-transfer-balance-modal
  [balance]="client.saldo"
  [modalId]="'transferBalanceModal'"
  (transferSend)="transfer($event)"
></app-transfer-balance-modal>
