<nav class="navbar navbar-expand-sm bg-light mb-5">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand"
      >Bienvenido a CryptoExchange {{ clientName }}</a
    >
    <a [routerLink]="['/home/quienes-somos']" class="fw-semibold text-dark"
      >¿Quienes somos?</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-toggle="#navMenu"
      aria-controls="navMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            href="#"
            class="nav-link btn btn-primary text-light"
            (click)="logout()"
            >Cerrar Sesion</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
