<nav class="navbar navbar-expand-sm bg-light mb-5">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand"
      >Bienvenido a CryptoExchange {{ clientName }}</a
    >
    <a [routerLink]="['/home/quienes-somos']" class="fw-semibold text-dark"
      >¿Quienes somos?</a
    >
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link btn btn-primary text-light"
          (click)="logout()"
          ><i class="bi bi-door-open-fill"></i></a
        >
      </li>
    </ul>
  </div>
</nav>
