<form [formGroup]="loginForm" class="box needs-validation" novalidate (ngSubmit)="login()">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password" required />
  </div>
  <button type="button" class="btn btn-primary" (click)="validate($event)">Submit</button>
</form>
