<div class="box">
  <div class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()" #form class="needs-validation" novalidate>
      <h3 class="h3 mb-3 fw-normal">Bienvenido :D</h3>
      <h4 class="h4 mb-3 fw-normal">user:"asd" pass:"asd"</h4>

      <div class="form-floating has-validation">
        <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Nombre de usuario"
        formControlName="username"
        required
        />
        <label for="username">Nombre de usuario</label>
      </div>
      <div class="form-floating has-validation">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
          required
        />
        <label for="password">Contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Iniciar sesion
      </button>
    </form>
  </div>
</div>
