<div class="form-register w-100 m-auto">
  <form
    #form
    class="needs-validation"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    novalidate
  >
    <h3 class="h3 mb-3 fw-normal text-center">Registro</h3>
    <div class="form-floating has-validation">
      <input
      type="text"
      class="form-control top"
      id="username"
      placeholder="Nombre de usuario"
      formControlName="username"
      required
      />
      <div class="invalid mb-1">Ingrese un nombre de usuario valido, minimo 3 caracteres</div>
      <label for="username">Nombre de usuario</label>
    </div>
    <div class="form-floating has-validation name">
      <input
        type="text"
        class="form-control middle"
        id="name"
        placeholder="Nombre"
        formControlName="name"
        required
      />
      <div class="invalid mb-1">Ingrese un nombre valido, minimo 3 caracteres</div>
      <label for="name">Nombre</label>
    </div>
    <div class="form-floating has-validation name">
      <input
        type="email"
        class="form-control middle"
        placeholder="Email"
        formControlName="email"
        required
      />
      <div class="invalid mb-1">Ingrese un Email valido</div>
      <label for="name">Email</label>
    </div>
    <div class="form-floating has-validation name">
      <input
        type="number"
        class="form-control middle"
        placeholder="Telefono"
        formControlName="phone"
        required
      />
      <div class="invalid mb-1">Ingrese un Numero valido, entre 8 y 10 caracteres</div>
      <label for="name">Numero de telefono</label>
    </div>
    <div class="form-floating has-validation password">
      <input
        type="password"
        class="form-control middle"
        id="password"
        placeholder="Contraseña"
        formControlName="password"
        required
      />
      <div class="invalid mb-1">Ingrese una contraseña, minimo 3 caracteres</div>
      <label for="password">Contraseña</label>
    </div>
    <div class="form-floating has-validation">
      <input
        type="password"
        class="form-control bottom"
        formControlName="confirmPassword"
        placeholder="Reingrese contraseña"
        required
      />
      <div class="invalid mb-1">Las contraseñas no coinciden</div>
      <label for="password">Reingrese Contraseña</label>
    </div>
    <button class="w-100 btn btn-lg btn-success mt-2" [disabled]="registerForm.invalid" type="submit">
      Registrarse
    </button>
  </form>
</div>
<div class="w-100 text-center m-auto">
  <a routerLink="/login" href=""> Iniciar Sesion </a>
</div>
