<footer>
  <div class="locales">
    <p class="parrrafo">
    
    </p>
  </div>
  <div class="redes">
      <div class="iconos">
        <a href="http://www.instagram.com"> 
         <i class="bi bi-instagram"></i>
        </a>
      </div>
      <div class="iconos">
        <a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a>
      </div>
      <div class="iconos">
       <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
      </div>
          
  </div>

</footer>
