<footer>
  <div class="locales">
    <p class="parrrafo">
      <b>LOCALES</b><br />
      &#128205;Perito Moreno 934, Villa Maria. <br />
      &#128205;Av. Velez Sarsfield 817, Cba.
    </p>
  </div>
  <div class="horarios">
    <p>
      <b>HORARIOS DE ATENCIÓN</b> <br />
      &#8986;Lunes a Sábado de 9hs a 18hs. <br>
      <a style=" color:black" routerLink="/quienes-somos"><b>Nuestro Equipo de Trabajo</b></a>
    </p>
          
  </div>
  <div class="newsletter">
    <div id="suscribirse">
      <b>
        <p>SUSCRIBITE A NUESTRO NEWSLETTER!</p>
      </b>
    </div>
    <input type="text" placeholder="Escribe tu email" />
    <input type="submit" value="enviar" class="btn-2" />
  </div>
</footer>
