<footer>
  <div class="locales">
    <p class="parrrafo"></p>
  </div>
  <div class="redes">
    <div class="iconos">
      <a href="http://www.instagram.com">
        <i class="bi bi-instagram" style="color: cornflowerblue"></i>
      </a>
    </div>
    <div class="iconos">
      <a href="http://www.facebook.com"
        ><i class="bi bi-facebook" style="color: cornflowerblue"></i
      ></a>
    </div>
    <div class="iconos">
      <a href="http://www.twitter.com"
        ><i class="bi bi-twitter" style="color: cornflowerblue"></i
      ></a>
    </div>
  </div>
  <div class="text-center">
    <a [routerLink]="['/home/quienes-somos']" class="fw-semibold text-dark"
      >¿Quiénes somos?</a
    >
  </div>
</footer>
