
footer {
 position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e7e7e7;
  color: rgb(0, 0, 0);
}

.redes {
  display: flex;
 justify-content: center;
}
.iconos {
  padding: 10px;
}

.bi {
  font-size: 2em;
}
